.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

.idea/*

pdf/*
uploads/*
exports/*
trace.log

~*

*.bak
*.beforefix
**/*.localz
**/*.local
**/*.git
**/*.DS_Store
/nbproject/private/
images/Thumbs.db
specs/Thumbs.db

.phpunit.result.cache

backup/*

._*
.vscode/settings.json
Downloads